<div class="container-fluid mt-3">
  <div class="d-flex justify-content-end">
    <a class="text-info" href="/auth/login" style="text-decoration: none"
      >Si tienes una cuenta haz click aquí</a
    >
  </div>

  @if(showFirstPart) {
  <!-- PRIMERO DEBE DE APARECER ESTO Y AL DAR CLIK EN EL BOTON -->
  <div class="container mt-5">
    <div class="text-center">
      <h1 class="fw-bold">A recuperar tu contraseña</h1>
      <div class="row justify-content-center">
        <p class="pt-4 col-md-8 col-lg-6">
          A través de esta funcionalidad le enviaremos una nueva clave a su
          celular y correo registrado, tenga en cuenta que esta clave es
          personal e intransferible, y la debe cambiar en el próximo inicio de
          sesión.
        </p>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-lg-4">
          <form [formGroup]="restoreForm" (ngSubmit)="handleSubmitEmail()">
            <input
              type="email"
              class="form-control"
              placeholder="Ingrese el correo asociado a su usuario"
              formControlName="email"
              [ngClass]="{
                'is-invalid':
                  hasErrors('email', 'required') || hasErrors('email', 'email')
              }"
            />
            <div class="text-danger" *ngIf="hasErrors('email', 'required')">
              Email required
            </div>
            <div class="text-danger" *ngIf="hasErrors('email', 'email')">
              Email invalid
            </div>
            <button
              type="submit"
              class="btn btn-info text-white fw-bold mt-5"
              [disabled]="
                hasErrors('email', 'required') ||
                hasErrors('email', 'email') ||
                wasTouched('email')
              "
            >
              Continuar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <!-- RECIEN DEBE DE APARECER ESTA OTRA PARTE -->
  <div class="container mt-5">
    <div class="text-center">
      <h1 class="fw-bold">Propón tu nueva contraseña</h1>
      <div class="row justify-content-center">
        <p class="pt-4 col-md-8 col-lg-6">
          Por favor ingresa la clave temporal que te hemos enviado al correo
          electónico o celular, en esta sección debes proponer tu nueva
          contraseña a usar.
        </p>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-lg-4">
          <div class="input-group mb-3">
            <input
              [type]="showPassword1 ? 'text' : 'password'"
              class="form-control"
              placeholder="Ingrese la contraseña enviada"
              [(ngModel)]="password1"
              (input)="validatePassword1()"
            />
            <div class="input-group-append">
              <span
                class="input-group-text toggle-password"
                (click)="togglePassword1()"
              >
                <i
                  [class]="showPassword1 ? 'fas fa-eye-slash' : 'fas fa-eye'"
                ></i>
              </span>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              [type]="showPassword2 ? 'text' : 'password'"
              class="form-control"
              placeholder="Ingrese una nueva contraseña"
              [(ngModel)]="password2"
              (input)="validatePassword2()"
            />
            <div class="input-group-append">
              <span
                class="input-group-text toggle-password"
                (click)="togglePassword2()"
              >
                <i
                  [class]="showPassword2 ? 'fas fa-eye-slash' : 'fas fa-eye'"
                ></i>
              </span>
            </div>
          </div>
          <div *ngIf="password2Errors.minLength" class="text-danger">La contraseña debe tener al menos 8 caracteres.</div>
          <div *ngIf="password2Errors.upperCase" class="text-danger">La contraseña debe tener al menos una letra mayúscula.</div>
          <div *ngIf="password2Errors.number" class="text-danger">La contraseña debe tener al menos un número.</div>
          <div *ngIf="password2Errors.specialChar" class="text-danger">La contraseña debe tener al menos un carácter especial.</div>
        
          <div class="input-group mb-3">
            <input
              [type]="showPassword3 ? 'text' : 'password'"
              class="form-control"
              placeholder="Repita la contraseña"
              [(ngModel)]="password3"
              (input)="validatePassword3()"
            />
            <div class="input-group-append">
              <span
                class="input-group-text toggle-password"
                (click)="togglePassword3()"
              >
                <i
                  [class]="showPassword3 ? 'fas fa-eye-slash' : 'fas fa-eye'"
                ></i>
              </span>
            </div>
          </div>
         </div>
        
      </div>
      <button class="btn btn-info text-white fw-bold mt-5">Finalizar</button>
    </div>
  </div>
  }
</div>
